In [46]:
import sqlite3 as sql
import datetime

In [63]:
################################   insert in view_bill initially    
mess = "West"          #### North South East West

con = sql.connect("admin.db")
cur = con.cursor()

date = datetime.datetime(2018,8,1,12,4,5)
dfrom = date.strftime("%d-%m-%Y")
# dateto = datetime.datetime(2018,8,1,12,4,5)
date_end = date + datetime.timedelta(days=365)
dto = date_end.strftime("%d-%m-%Y")
# print(dateto)

sqlq = "select Bill from mess_menu WHERE (mess = '" + mess +"')"
# print(sqlq)
cur.execute(sqlq)

bill = cur.fetchone()
# print(bill)

cur.execute("INSERT INTO view_bill VALUES (?,?,?,?)",(mess, dfrom,dto,str(bill)))
con.commit()
con.close()

In [74]:
############ Update Bill
ls = ['breakfast','lunch','snack','dinner']
mess = 'North'

breakfast_b = '80'        ## request.form['bb']
lunch_b = '70'            ## request.form['lb']
snack_b = '50'            ## request.form['sb']
dinner_b = '60'           ## request.form['db']
bill=[breakfast_b,lunch_b,snack_b,dinner_b]  ## for a particular day
bill_dict = dict()
i=0
for a in ls:
    bill_dict[a]=bill[i]
    i=i+1

bill_dic = str(bill_dict)
##########################################################
date = datetime.datetime(2018,8,1,12,4,5)
d_end = date + datetime.timedelta(days=365)
ch_date =datetime.datetime.today()
date_end = d_end.strftime('%d-%m-%Y')
new_date = ch_date + datetime.timedelta(days=1)
till_date = ch_date.strftime('%d-%m-%Y')
n_date = new_date.strftime('%d-%m-%Y')
#########################################################

# sqlq ="UPDATE view_bill SET to = ?,"+day+"=? WHERE (Admin = ?)"
# cur.execute(sqlq,(bill_dic,menu_dic,admin))

print(date_end)

con = sql.connect("admin.db")
cur = con.cursor()
sqlq = "select Bill from mess_menu WHERE (mess = '" + mess +"')"
cur.execute(sqlq)
for row in v:
    x = row
sqlq ="UPDATE view_bill SET to = ? WHERE ( x = ? )"
cur.execute(sqlq,(till_date,x))
# cur.execute("INSERT INTO view_bill VALUES(?,?,?,?)",mess,n_date,date_end,bill_dic))


# con.commit()
# con.close()

01-08-2019

OperationalError: near "to": syntax error

IntegrityError: UNIQUE constraint failed: mess_menu.Admin